In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?date=2000'

response = requests.get(endpoint)

In [3]:
response

In [4]:
response.text[:500]

'ï»¿<?xml version="1.0" encoding="utf-8"?>\r\n<wb:data page="1" pages="6" per_page="50" total="266" sourceid="2" lastupdated="2025-10-07" xmlns:wb="http://www.worldbank.org">\r\n  <wb:data>\r\n    <wb:indicator id="SP.POP.TOTL">Population, total</wb:indicator>\r\n    <wb:country id="ZH">Africa Eastern and Southern</wb:country>\r\n    <wb:countryiso3code>AFE</wb:countryiso3code>\r\n    <wb:date>2000</wb:date>\r\n    <wb:value>406156661</wb:value>\r\n    <wb:unit />\r\n    <wb:obs_status />\r\n    <wb:decimal>0</wb:de'

## UNData API Exercise

In this exercise, you'll redo the data gathering phase of the UNData Exploration project by using APIs instead of downloading csv files.

You'll make use of the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation). Note that this API does not require an API key. Before attempting the exercise, it would be a good idea to skim through the Documentation page and to check out the [Basic Call Structure article](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581).

1. Use the API to get all available data for the _GDP per capita, PPP (constant 2017 international $)_ indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [5]:
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD?format=json&per_page=20000'

response = requests.get(endpoint)

In [6]:
response

In [7]:
response.text[:500]

'[{"page":1,"pages":1,"per_page":20000,"total":17290,"sourceid":"2","lastupdated":"2025-10-07"},[{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"2024","value":3968.96375122681,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZH","value":"Africa E'

In [8]:
res = response.json()
res[:1]

[{'page': 1,
  'pages': 1,
  'per_page': 20000,
  'total': 17290,
  'sourceid': '2',
  'lastupdated': '2025-10-07'}]

In [9]:
# Retrieve keys from dictionary
res[1][0].keys()

dict_keys(['indicator', 'country', 'countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal'])

In [10]:
gdp_df = pd.DataFrame(res[1])
gdp_df.head(2)

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2024,3968.963751,,,0
1,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2023,3948.142721,,,0

2. Now, use the API to get all available data for _Life expectancy at birth, total (years)_. This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

In [11]:
endpoint2 = 'https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN?format=json&per_page=20000'

response2 = requests.get(endpoint2)

In [12]:
response2

In [13]:
response2.text[:500]

'[{"page":1,"pages":1,"per_page":20000,"total":17290,"sourceid":"2","lastupdated":"2025-10-07"},[{"indicator":{"id":"SP.DYN.LE00.IN","value":"Life expectancy at birth, total (years)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"2024","value":null,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.DYN.LE00.IN","value":"Life expectancy at birth, total (years)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"A'

In [14]:
res2 = response2.json()
res2[:1]

[{'page': 1,
  'pages': 1,
  'per_page': 20000,
  'total': 17290,
  'sourceid': '2',
  'lastupdated': '2025-10-07'}]

In [15]:
# Retrieve keys from dictionary
res2[1][0].keys()

dict_keys(['indicator', 'country', 'countryiso3code', 'date', 'value', 'unit', 'obs_status', 'decimal'])

In [16]:
le_df = pd.DataFrame(res2[1])
le_df.head(2)

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2024,NaN,,,0
1,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2023,65.146291,,,0

3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

In [17]:
gdp_df = gdp_df.rename(columns={'value': 'gdp_per_capita_ppp'})

In [18]:
le_df = le_df.rename(columns={'value': 'life_expectancy'})

In [19]:
merged_df = pd.merge(gdp_df, le_df, on=['countryiso3code', 'date'], how='inner')

In [20]:
merged_df.head(2)

,indicator_x,country_x,countryiso3code,date,gdp_per_capita_ppp,unit_x,obs_status_x,decimal_x,indicator_y,country_y,life_expectancy,unit_y,obs_status_y,decimal_y
0,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2024,3968.963751,,,0,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",NaN,,,0
1,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2023,3948.142721,,,0,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",65.146291,,,0

4. You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the [Country API](https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-country-api-queries). Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [21]:
endpoint3 = 'https://api.worldbank.org/v2/country'

response3 = requests.get(endpoint)

**Bonus Questions:** After doing a basic request to get all records, you can attempt these exercises to get additional practice using query parameters.

1. Adjust your request so that it returns data just for the United States.

2. Adjust your request so that it returns data just for the United States for the year 2021.

3. Adjust your request so that it returns data just for the United States for the years 2000 through 2021.

4. Adjust your request so that it returns data for the United States and Canada for the years 2000 through 2021.

5. If you haven't already done so and you would like to get some additional practice using loops, use the page parameter in order to pull all records. Do not change the value of the per_page parameter. You will likely need to utilize a loop of some kind in order to pull all records.

6. The endpoint "http://api.worldbank.org/v2/indicator" will return information about all available indicators. See [Indicator API Queries](https://datahelpdesk.worldbank.org/knowledgebase/articles/898599-indicator-api-queries). Use this endpoint to find the code for the "Public Expenditure on Education (% GDP)" indicator.